.navbar2{
    /* background-image: url('../../../assets/Rectangle\ 79.png'); */
    border-radius: 8px;
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 15px;
    background: white;
    margin: 0 auto;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.logoimg{
    height: 39px;
    width: 38px;
}

.li{
    display: flex;
    width: 50%;
    justify-content: space-between;
    border: 1px solid;
}

.career-first{
    background: linear-gradient(360deg,#FFFFFF 0%, #5899E2 100%);
    height: 900px;
    width: 100%;
    text-align: center;
    border: 1px solid;
}

.navbar1 {
    height: 513px;
    background-image: url(../../../assets/Rectangle\ 79.png);
    background-size: 100%;
    position: relative;

}

.career-main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.career-main-text h1{
    font-family: 'poppins', sans-serif;
    color: #FFFFFF;
    text-transform: capitalize;
}

.career-main-text p{
    font-family: 'DM sans';
    font-size: 24px;
    height: 62px;
    width: 65%;
    color: #FFFFFF;
    text-transform: capitalize;
}

.career-main-text-btns{
    display: flex;
    gap: 20px;
}

.apply{
    background-color: #007F99;
    text-transform: capitalize;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    color: white;
    height: 50px;
    border-radius: 8px;
    width: 146px;
    border: none;
}
    
    
.career-second {
    width: 100%;
    background-image:url(../../../assets/paul-berthelon-bravo-BGXhuJIbx78-unsplash\ 1.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 900px;
    top: -9px;
}
.click-here{
    background-color:#007F99;
    color: white;
    text-transform: capitalize;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    height: 50px;
    width: 446px;
    border-radius: 8px;
    border: none;
}

.logo21{
    display: flex;
}

.logo2{
    height: 400px;
}

.imageq{
    width: 40%;

}
.values {
    align-items: center;
    justify-content: center;
    text-align: center;
}    
.values > h1{
 width: 60%;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
height: 25px;
font-size: 24px;



}
.para{
width: 700px;
height: 64px;
}
.achieve{
    width: 691px;
    height: 95px;

}

.list-items {
    width: 200px;
/* height: 189px; */
/* left: 650px; */
/* top: 803px */

  
}

    



    


