.home-first{
    height: 1024px;
    width: 100%;
    background-image: url(/src/assets/illustration1.png);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: right;
    background-size: 900px;
    background-position-x: auto;
    border: 1px solid;
    position: relative;
    padding: 0 25px;
}

.container{
    background: linear-gradient(360deg,#FFFFFF 0%, #5899E2 100%);
}


.ill{

}

.home-second{
    height: 624px;
    width: 100%;
    border: 1px solid;
    /* background-color: red; */

}

.home-third{
    height: 1164px;
    width: 100%;
    border: 1px solid;
    background: linear-gradient(360deg, #D9D9D9 0%, rgba(217, 217, 217, 0) 100%);
}

.home-forth{
    height: 1154px;
    width: 100%;
    border: 1px solid;
}

.mission {
    font-size: 24px;
    font-weight: 500;
}

.description {
    font-size: 48px;
    font-weight: 700;
    width: 45%;
    font-family: poppins;
}

.mission-text {
    width: 95%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px
}
.header{
    display: flex;
    justify-content: space-between;
    width: 30%;
    height: 30%;
    


}

    
.section button{
    background: #007F99;
    border: none;
    padding: 3px 10px;
    border-radius: 5px;
    color: white;
}

/* .card {
    position: absolute;
    bottom: -1000px;
    background-color: red;
} */

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.cards{
    display: flex;
     position: absolute;
     gap: 10px;
     bottom: 50px;
}